<div class="container center">
  <div class="page paper-border">
    <h1>Novo personagem</h1>
    <br />
    <div class="form">
      <label for="character-name">Nome:</label>
      <input id="character-name" class="input wooden-border-2" type="text" />
      <label for="character-pronoums">Pronomes:</label>
      <select
        name="character-pronoums"
        id="character-pronoums"
        class="input wooden-border-2"
      >
        <option value="ele/dele">ele/dele</option>
        <option value="ela/dela">ela/dela</option>
        <option value="elu/delu">elu/delu</option>
      </select>
      <h2>Classe</h2>
      <div class="buttons-list">
        <button class="square wooden-border">
          <img
            src="../../../assets/icons/warrior.png"
            width="50"
            height="50"
            alt=""
          />
        </button>
        <button class="square wooden-border">
          <img
            src="../../../assets/icons/mage.png"
            width="50"
            height="50"
            alt=""
          />
        </button>
        <button class="square wooden-border">
          <img
            src="../../../assets/icons/hunter.png"
            width="50"
            height="50"
            alt=""
          />
        </button>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="page paper-border">
    <div class="golden-border center image-container">
      <div class="off-bottom small right">Clique para trocar</div>
    </div>
  </div>
</div>
