h1 {
  font-family: Silkscreen;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -50%);
}

.container {
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.page:not(.selector) {
  width: 800px;
  height: 208px;
  position: relative;
  font-family: Silkscreen;
  padding: 16px;
  box-sizing: border-box;
  color: #5d4037;
  display: flex;
}

.page.selector {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  font-family: Silkscreen;
  padding: 16px;
  box-sizing: border-box;
  color: #5d4037;
}


.stages {
  display: flex;
  justify-content: space-around;
}

.stage {
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 6px;
}

.stage.done {
  pointer-events: none;
}

.stage:hover:not(.done) {
  border-color: rgba(93, 64, 55, 0.6);
}

.stage paper-button {
  margin-top: 5px;
}

.stage .image {
  width: 140px;
  height: 105px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 6px;
}

.done {
  opacity: 0.5;
  filter: sepia() brightness(0.85);
  cursor: default;
}

.btn-voltar {
  position: absolute;
  top: 16px;
  left: 16px;
}

.dialogue {
  padding-left: 16px;
  flex: 1 auto;
}

.image-container {
  width: 120px;
  height: 165px;
  background-size: cover;
  background-position: center;
  position: relative;
  flex-shrink: 0;
}

.continue-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  animation: blink infinite 1.5s;
  cursor: pointer;
}

@keyframes blink {
  0% {opacity: 0;}
  40% {opacity: 1;}
  60% {opacity: 1;}
  100% {opacity: 0;}
}

.dialog-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialogue .name {
  font-weight: bold;
  display: block;
  font-size: 16px;
  color: #5d4037;
}

.dialogue {
  color: #795548;
  text-align: justify;
  padding-right: 25px;
}